<div class="panel-heading">
  <div role="presentation"><%= t('.clinic_doctors') %></div>
  <div  class="list-group">
    <% @clinic.doctors.each do |doctor| %>
        <div class="list-group-item"><%=doctor.full_name %></div>
    <% end %>
  </div>
</div>
