<div class="panel-heading">
  <div role="presentation">Врачи, работающие в клинике:</div>
  <div  class="list-group">
    <% @clinic.doctors.each do |doctor| %>
        <div class="list-group-item"><%=doctor.surname %> <%=doctor.name %></div>
    <% end %>
  </div>
</div>
