<div class="panel-heading">
  <div role="presentation"><%= t('.doctors_specializations') %></div>
  <div  class="list-group">
    <% @clinic.specializations_titles.each do |spec| %>
        <div class="list-group-item"><%= spec %></div>
    <% end %>
  </div>
</div>