<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to "#{t('clinics.actions.create')} #{t('clinics.form.clinic')}", new_clinic_path, class: 'btn btn-success' %>
  </div>
  <div  class="list-group">
    <% @clinics.each do |clinic| %>
        <div class="list-group-item">
          <div class="row">
            <div class="col-sm-4 col-md-8">
              <%= link_to clinic.title, clinic_path(clinic.id) %>
            </div>
            <div class="col-sm-4 col-md-4 text-right">
              <%= render 'changing_links', id: clinic.id %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
