<div class="panel-heading">
  <div role="presentation">Болезни, присущие симптому:</div>
  <div  class="list-group">
    <% @symptom.diseases.each do |disease| %>
        <div class="list-group-item"><%=disease.title %></div>
    <% end %>
  </div>
</div>
