<div class="container">
  <div class="row text-center">
    <div class="col-xs-8 col-md-4">
      <a href="#" class="thumbnail">
        <img src="..." alt="Симптомы">
      </a>
    </div>
    <div class="col-xs-8 col-md-4">
      <a href="#" class="thumbnail">
        <img src="..." alt="Болезни">
      </a>
    </div>
    <div class="col-xs-8 col-md-4">
      <a href="#" class="thumbnail">
        <img src="..." alt="Клиники">
      </a>
    </div>
    <div class="col-xs-8 col-md-4">
      <a href="#" class="thumbnail">
        <img src="..." alt="Врачи">
      </a>
    </div>
  </div>
</div>
