<div class="container">
  <div class="row text-center">
    <div class="col-xs-12 col-md-6">
      <%= link_to 'Симптомы', symptoms_path, class: 'thumbnail' %>
      </a>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= link_to 'Болезни', diseases_path, class: 'thumbnail' %>
    </div>
    <div class="col-xs-12 col-md-6">
      <a href="#" class="thumbnail">
        Клиники
      </a>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= link_to 'Врачи', doctors_path, class: 'thumbnail' %>
    </div>
  </div>
</div>
