<div class="panel-heading">
  <div role="presentation"><%= t('.specializations_disease') %></div>
  <div  class="list-group">
    <% @disease.specializations.each do |specialization| %>
        <div class="list-group-item"><%=specialization.title %></div>
    <% end %>
  </div>
</div>