<div class="panel-heading">
  <div role="presentation">Симптомы, присущие болезни:</div>
  <div  class="list-group">
    <% @disease.symptoms.each do |symptom| %>
        <div class="list-group-item"><%=symptom.title %></div>
    <% end %>
  </div>
</div>