<div class="panel-heading">
  <div role="presentation">Клиники, в которых работает врач:</div>
  <div  class="list-group">
    <% @doctor.clinics.each do |clinic| %>
        <div class="list-group-item"><%=clinic.title %></div>
    <% end %>
  </div>
</div>
