<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to "#{t('actions.create')} #{t('doctors.form.doctor')}", new_doctor_path, class: 'btn btn-success' %>
  </div>
  <div  class="list-group">
    <% @doctors.each do |doctor| %>
        <div class="list-group-item">
          <div class="row">
            <div class="col-sm-4 col-md-8">
              <%= link_to doctor.surname_name, doctor_path(doctor.id) %>
            </div>
            <div class="col-sm-4 col-md-4 text-right">
              <%= render 'changing_links', id: doctor.id %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
